@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Fredoka';
	src: url('/fonts/FredokaOne-Regular.ttf');
}

@font-face {
	font-family: 'Khula';
	src: url('/fonts/Khula-Light.ttf');
	font-weight: 300;
}

@font-face {
	font-family: 'Khula';
	src: url('/fonts/Khula-Regular.ttf');
	font-weight: 400;
}

@font-face {
	font-family: 'Khula';
	src: url('/fonts/Khula-SemiBold.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'Khula';
	src: url('/fonts/Khula-Bold.ttf');
	font-weight: 700;
}

@font-face {
	font-family: 'Khula';
	src: url('/fonts/Khula-ExtraBold.ttf');
	font-weight: 800;
}

.custom-shape-divider-top-1674605560 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1674605560 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1674605560 .shape-fill {
    fill: #283618;
}