---
import './Header.css'; 

export interface Props {
    links: {
        name: string
        url: string
        active: boolean;
    }[]
}

const { links } = Astro.props;
---

<header class="fixed top-0 right-0 left-0 mx-auto z-10 bg-inherit">
    <div class="sm:max-w-xl md:max-w-3xl lg:max-w-5xl xl:max-w-6xl px-4 my-0 mx-auto">
        <div class="flex flex-wrap items-center flex-row box-border mx-[-16px] my-4 md:py-4">
            <nav class=" flex ml-auto">
                <div class="flex items-center relative">
                    <input type="checkbox" id="menu-toggle" />
                    <label for="menu-toggle" class="menu-icon"><span></span></label>
                    <ul class="navbar">
                        {links.map(({ name, url, active }) => (
                        <li class="inline-block py-2 px-4 mb-0">
                            <a href={url} class={`py-1 text-lg font-khula font-bold text-secondary-1 hover:text-text  ${active ? 'link--active' : 'hover-1'}`}>{name}</a>
                        </li>
                        ))}
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>