a {
    display: inline-block;
    position: relative;
}

.hover-1::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #DDA15E;
    transform: scaleX(0);
    transition: transform 0.3s
}

.link--active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #DDA15E;
}

.hover-1:hover::after{
    transform: scaleX(1);
}

#menu-toggle {
    opacity: 0;
}

.menu-icon {
    display: flex;
    align-items: center;
    position: absolute;
    right: 14.5px;
    top: 2px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu-icon > span,
.menu-icon > span::before,
.menu-icon > span::after {
    position: absolute;
    height: 2px;
    width: 24px;
    background-color: white;
    transition-duration: .25s;
}

.menu-icon > span::before {
    content: '';
    top: -8px;
}

.menu-icon > span::after {
    content: '';
    top: 8px;
}

#menu-toggle:checked ~ .menu-icon > span {
    transform: rotate(-45deg)
  }
  #menu-toggle:checked ~ .menu-icon > span::before {
    top: 0;
    transform: rotate(0)
  }
  #menu-toggle:checked ~ .menu-icon > span::after {
    top: 0;
    transform: rotate(90deg)
  }
  

  @media (min-width: 640px) {
    .menu-icon {
        display: none;
    }
}

